

/* ==========================================================================
   Author's custom styles  MOVE TO LAYOUT
   ========================================================================== */
/*    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
*/


    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      font-family: "GeoSansLightRegular", "Helvetica Neue", Helvetica,Arial,sans-serif;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 40px;
      color: #5a5a5a; 
      background-color: #E9C1C1;
    }
    
    h1, h2 {
/*   		font-family: "LeagueGothicRegular", "Helvetica Neue", Helvetica,Arial,sans-serif;*/
    }
    
	#fold {
		border-bottom: 1px solid red;
	    height: 5;
	    position: fixed;
	    top: 768px;
	    width: 1024px;
	    z-index: 999;
	}
	a, a:hover {
		color: #000;
	}
	a.brand {
		font-family: Helvetica,Arial,sans-serif;
		color: #ffffff !important;
		font-weight: normal !important;
	}
	a.brand span {
		color: #D47000;
		font-weight: bold !important;
	}
/*	 http://mktgdept.com/ios-position-fixed-bug */
	.iosfix {
	  height: 101%;
	  overflow: hidden;
	}
	
	.hide {
		display: none !important; 
	}
	
	.hidden {
		visibility: hidden !important;
	}
	.center {
		text-align: center;
	}

   
/*   http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters/*/
   .alpha50b ,  .navbar-inner.alpha50b {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.5);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000)";
	}
	.alpha65b ,  .navbar-inner.alpha65b {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.65);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000)";
	}
	
	.alpha70b ,  .navbar-inner.alpha70b {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.70);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000)";
	}
	
	.alpha75w {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(255, 255, 255);
		/* RGBa with 0.6 opacity */
		background: rgba(255, 255, 255, 0.75);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF, endColorstr=#BFFFFFFF);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF, endColorstr=#BFFFFFFF)";
		
	}
	/*
	 * ie only for alpha
	 */
	html.ie .alpha50b , html.ie .alpha75w {
		background:transparent;			/* makes border-radius invisible, wrap?  */
	}
	
		
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
   #header {
/*   		height: 0;	*/
   }
    .bounding-box {
    	position:absolute;
    	top:20px;
    	width: 100%;
    	z-index: 1000;
    }
    .bounding-box.affix {
    	position:fixed;
    	top:0;
    }

    .navbar {
    	padding: 0 10px;
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
 		height: 40px;              
    }

    .navbar .navbar-inner {
    	border-radius: 7px;
    	padding-left: 10px;
/*    	background: none repeat scroll 0 0 transparent !important;*/
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      margin: 0;
      padding: 0;
    }
    .navbar .brand img {
    	height: 40px;
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
    }
	
	.nav > li.active {
		background-color:#000;
	}
    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
    }

	.alert-wrapper {
		margin: 20px 0;
	    opacity: 0.85;
	    position: fixed;
	    text-align: center;
	    width: 100%;
	    z-index: 2000;
	}
	
	.alert-wrapper .alert {
		display: inline-block;
		min-width:280px;
	}

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
   
   #content {
   		position: relative;
   	 	top: -60px;				/* don't know why I need this */
   }
    .fw-band {
   		position: absolute;
    	width: 100%;
    	left: 0;
   }
   
   .featurette {
   		position:relative;
   		min-height: 550px;
   }
   .featurette .bg {
   		background-repeat: no-repeat;
		background-color: #E9C1C1;
		background-size: cover;
		background-position: center center;
		height: 100%;
		left: 0;
		position:absolute;
		top: 0px;   
		width: 100%;
		z-index: -1;
   }
   .featurette .fw-band.body {
   		top: 33%;
   }
   
   .featurette .fw-band.body p {
   		font-size: 16px;
   }
   
   .featurette .wrap {
   		border-radius: 20px;
	     -webkit-border-radius: 20px;
	     -moz-border-radius: 20px;
	    margin: 40px 20px 20px 60px;
	    padding: 20px;
	    width: 80%;
   }
   
   .featurette .footer {
   		background-color: #FFFFCE;
	    bottom: 0;
	    color: black;
	    font-size: 30px;
	    line-height: 1;
	    padding: 10px 0;
   }
   .footer > .container {
   		padding: 0;
   }
   
   
   /*
    * .bg.pix content
    */
   .bg.pix.p1 {
   		background-image:url(/img/beachfront/bg-img-01.jpg);
   }
   .bg.pix.p2 {
   		background-image:url(/img/beachfront/bg-img-02.jpg);
   }
   .bg.pix.p3 {
   		background-image:url(/img/beachfront/bg-img-03.jpg);
   }
   .bg.pix.p4 {
   		background-image:url(/img/beachfront/bg-img-04.jpg);
   }
   .bg.pix.p5 {
   		background-image:url(/img/beachfront/bg-img-05.jpg);
   }
   
   
   #home {
	   	min-height: 700px;		/* section height */
	   	overflow: visible;
	   	color: #FFFFFF;
   }
   #home .fw-band.body .graphic {
		border: 1px solid white;
	    border-radius: 10px 10px 10px 10px;
	    display: inline-block;
	    font-size: 20px;
	    margin: 20px 0;
	    padding: 10px;
	    text-align: center;
	    vertical-align: middle;
	    width: 24%;
   }
   #home .fw-band.body .muted {
   		color: #BBBBBB;
   		display: inline-block;
	    line-height: 1;
	    text-align: center;
	    vertical-align: middle;
	    width: 7%;
   }

   
   #on-our-way {
   		height: 400px;
   		min-height: auto;
   }
   
   #on-our-way .bg {
   		background-color: #E9C1C1;
   }
	#on-our-way .container {
		padding-top: 40px;
		height: 350px;
		color: black;
	} 
	
	#on-our-way .container .wrap {
		position: relative;		
		z-index: 1;
		background-color: #FFF;
		margin: 0 20%;
		width: auto;
		-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
	  }	
	#on-our-way .container .wrap p {
		font-size: 20px;
		line-height: 1;
	}   
	#on-our-way a.btn {
		color: #000;
	}
	#on-our-way .fw-band.footer {
	    height: 150px;
	    z-index: 0;
	  }	
	#on-our-way .fw-band.footer > .container {
		bottom: 10px;
	    height: auto;
	    position: absolute;
	    width: 100%;
	  }	  
	#see-the-movie .bg, #call-to-action .bg {
   		background-color: #E9C1C1;
   }
   #about {
   		color: #fff;
   }
   
   #see-the-movie .body.container {
   		padding: 60px 0;
   }
   #still-in-the-darkroom .container .btn-large {
   		margin-bottom: 10px;
   }
   #tag-line {
   		color: #d47000
   }
   #tag-line .bg.pix {
   		height: 550px;
   }
 	
 	#tag-line span.muted {
   		color: #ffaa00
   }
 	#call-to-action {
 		padding: 60px 0;
 	}
 	#FAQ .container {
 		padding-top: 20px;
 	}
 	#FAQ .featurette-heading {
 		color: #FFF;
 	}
 	#FAQ .question {
 		color: #000000;
	    font-size: 16px;
	    font-weight: bold;
	    line-height: 1;
	    margin: 8px 0 4px
 	}
 	
 	#FAQ .answer {
 		color: #5A5A5A;
 		font-weight: normal;
 	}

 	
    /* Carousel base class */
    .carousel {
      margin-bottom: 0;
      z-index: 1;
    }
    
    .carousel-inner .fw-band {
    	top: 20%;
    }

    .carousel .carousel-inner .container {
      padding: 60px 0px 20px;		
      min-height: 200px;
	  width: 80%;				/* fit inside paging arrows 10% */
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 650px;
    }
    .carousel .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      padding: 0;
/*      max-width: 550px;*/
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    .carousel-row {
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

	
	.carousel .carousel-pager {
		bottom: 40px;			/* should be height of .fw-band.footer */
	    font-size: 10px;
	    line-height: 10px;
	    margin-bottom: 20px;	/* margin above .fw-band.footer */
	    position: absolute;
	    width: 100%;
	}
	.carousel .carousel-pager div {
		border: 3px solid #FFFFCE;
		display: inline-block;
		height: 10px;
		width: 10px;
		margin-right: 10px;
		border-radius: 50%;
		background: #FFFFCE;
		color: #FFFFCE;
		text-indent: -9999px;
		cursor: pointer;
	}
	.carousel .carousel-pager  div.active {
		background-color: #d47000;
	}

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

	#footer {
		margin: 0 20px;	
	}

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette > .container{
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette > .container .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

	.visible-desktop.featurette {
		min-height: 700px;
	}

    .featurette.the-movie {
      padding-top: 40px; /* Vertically center images part 1: add padding above and below text. */
    }
    .featurette.the-movie .center {
    	text-align:center;
    }
    
    .featurette.the-movie iframe {
    	width: 853px;
    	height: 480px;
    }
    
    
    .featurette.call-to-action {
    }    
    .featurette.call-to-action fieldset 
    {
    	border: 1px solid #888;
    	border-radius: 20px;
    	display: inline-block;
    	padding: 10px 20px;
    }
    .featurette.call-to-action fieldset legend 
    {
    	border: none;
    	line-height: auto;
    	margin: 0;
    	padding: 0 20px;
    	width: 120px;
    	text-align: center;
    	
    }
    

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }
      .carousel-caption {
	  }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      .featurette.the-movie iframe {
    	width: 90%;
    	height: 480px;
      }
      
    }


    @media (max-width: 767px) {
    
		#fold {
		    top: 1024px;
		    width: 768px;
		}
	    	
      .bounding-box {
      	position: fixed;
      	top: 0;
      }	
      .bounding-box.affix {
    	position: fixed;
      }
      
	  .navbar {
	  	padding: 0;
	  }
      .navbar  .navbar-inner {
        border-radius: 0;
      }
      .nav-collapse.collapse {
      	background-color: #eee;
      }
	.featurette .container {
      	width: 95%;
      }
      
      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .item {
        height: 700px;
      }
      .carousel .carousel-inner .container {
      	padding: 20px 50px;
      	width: auto;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 100%;
        margin-top: 60px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
      .carousel .item {
      	padding: 0 10%;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
    
	  .featurette.the-movie iframe {
	    	width: 90%;
	    	height: 360px;
	  }
    
    }

@media (max-width: 500px) {
		#fold {
		    top: 320px;
		    width: 480px;
		}
		.featurette {
			min-height: 350px;
		}
	}

@media (max-width: 467px) {
		#fold {
		    top: 480px;
		    width: 320px;
		}	
	.carousel-caption {
		margin-top: 60px;
	}
	.featurette {
		min-height: 350px;
	}
	.featurette.the-movie iframe {
	   	width: 90%;
	   	height: 300px;
	}
	.alert-wrapper {
		margin: 10px 0;
	}
	
	.alert-wrapper .alert {
		min-width : 160px;
	}	
}    


	












