    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      font-family: Helvetica,Arial,sans-serif;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 40px;
      color: #FDF9D0; 
      background-color: #E9C1C1;
      min-width: 468px;
/*      for iOS CSS transitions */
      	-webkit-backface-visibility: hidden;		
    }
    html.fontface:not(.android) body {
	   	font-family: "GeoSansLightRegular", "Helvetica Neue", Helvetica,Arial,sans-serif;
    }
    
    h1, h2 {
/*   		font-family: "LeagueGothicRegular", "Helvetica Neue", Helvetica,Arial,sans-serif;*/
    }
    
	#fold {
		border-bottom: 1px solid red;
	    height: 5px;
	    position: fixed;
	    top: 768px;
	    width: 1024px;
	    z-index: 999;
	}
	a, a:hover {
		color: #000;
	}
/*	 http://mktgdept.com/ios-position-fixed-bug */
	.iosfix {
	  height: 101%;
	  overflow: hidden;
	}
	
	.hide {
		display: none !important; 
	}
	
	.hidden {
		visibility: hidden !important;
	}
	.center {
		text-align: center;
	}

/*	http://www.jakpsatweb.cz/css/css-vertical-center-solution.html*/
   	.vcenter-wrap {
   		display: table; 
   		overflow: hidden;
   		padding: 40px 0;
   		width:100%;
   		height: 560px;
   		min-height: 560px; 
   	}
   	html.lt-ie8 .vcenter-wrap {
   		position: relative; 
   	}
	.vcenter-wrap > .vcenter-padding {
		display: table-cell; 
		vertical-align: middle;
	}
	html.lt-ie8 .vcenter-padding {
		position: absolute; 
		top: 50%;
	}
	.vcenter-wrap > .vcenter-padding > .vcenter-body {
		position: relative; 
	}
	html.lt-ie8 .vcenter-body {
		top: -50%;
	}
	   
	.fade-slow {
		  opacity: 0;
		  -webkit-transition: opacity 0.5s linear;
		     -moz-transition: opacity 0.5s linear;
		       -o-transition: opacity 0.5s linear;
		          transition: opacity 0.5s linear;
	}
		
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
   #header {
/*   		height: 0;	*/
   }

    .navbar {
    	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    	padding: 0 10px;
    }
    
    html.fontface .navbar {
		font-family: "SourceSansProRegular", "Helvetica Neue", Helvetica,Arial,sans-serif;    	
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
    	border: 0;
		height: 40px;
		background: transparent;              
    	box-shadow: none;
    }
    
    .navbar .container {
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
    	background: none repeat scroll 0 0 transparent;
/*    	box-shadow: 0 2px 10px rgba(255, 255, 206, 0.25);*/
    	margin: 0;
    	padding: 0 10px;
    }
    .navbar .brand img {
    	height: 40px;
    	width: 117px;
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
    }
	
	.navbar-inverse .nav > li.active ,  
	.navbar-inverse .nav > li.active a,
	.navbar-inverse  .dropdown-menu li.active > a {
		background-color:#000;
		background-image: linear-gradient(to bottom, #333333, #000000);
		box-shadow: 0 2px 10px rgba(255, 255, 206, 0.25);
		color: #FDF9D0 !important;
	}
	
	.navbar-inverse .nav > li:hover, 
	.navbar-inverse  .dropdown-menu li.active > a,
	.navbar-inverse  .dropdown-menu li > a:hover {
	 	box-shadow: 0 2px 10px rgba(255, 255, 206, 0.25);
	 	
	 	/* same as alpha50b */
	 	
	 	/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.5);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000)";
	}
	.navbar .nav > li > .dropdown-menu:before,
	.navbar .nav > li > .dropdown-menu:after {
		border: none;		/*	triangle anchor for dropdown-menu	*/
	}
	.navbar-inverse .dropdown-menu li a {
		color: #999;
	} 
	.navbar-inverse .dropdown-menu li a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:hover,
  	.navbar-inverse .nav-collapse .dropdown-menu a:hover  {
		color: #FFF;
	}
	
	.nav-collapse .nav > li > a,
  	.nav-collapse .dropdown-menu a {
  		font-weight: normal;
	}
	
	.dropdown-menu {
		margin-top: 0;
		border-radius: 0 0 6px 6px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
		
	} 
	
	
	.alert-wrapper {
		margin: 20px 0;
	    opacity: 0.85;
	    position: fixed;
	    text-align: center;
	    width: 100%;
	    z-index: 2000;
	}
	
	.alert-wrapper .alert {
		display: inline-block;
		min-width:280px;
	}

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
   
   #content {
   		overflow-x: hidden;
   		position: relative;
   	 	top: -60px;				/* don't know why I need this */
   }
   .fw-band {
   		position: absolute;
    	width: 100%;
    	left: 0;
   }
   
   .bg.fixed {
   		background-repeat: no-repeat;
		background-color: #E9C1C1;
		background-size: cover;
		background-position: center center;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0px;   
		width: 100%;
		z-index: -1;
   }
   
   .featurette {
   		position:relative;
   		min-height: 600px;
   }
   .featurette .fw-band.body {
   		top: 33%;
   }
   
   .featurette .fw-band.body p {
   		font-size: 16px;
   }
   
   .featurette  .featurette-heading {
   		margin: 0 10px;
   		padding: 20px 0;
   		font-weight: 300;
      	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
   }
   
   .featurette .featurette-heading .subhead {
   		font-size: 18px;
   		letter-spacing: -0.5px;
   }
   
   .featurette .wrap {
   		border-radius: 20px;
	     -webkit-border-radius: 20px;
	     -moz-border-radius: 20px;
	    margin: 40px 20px 20px 60px;
	    padding: 20px;
	    width: 80%;
   }
   
   .featurette .footer {
   		background-color: #FDF9D0;
	    bottom: 0;
	    color: black;
	    font-size: 24px;
	    line-height: 1;
	    padding: 8px 0;
   }
   .footer > .container {
   		padding: 0;
   }
   
   
   /*
    * .bg.pix content
    */
   .bg.pix[name='1'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-01.jpg);
   }
   .bg.pix[name='2'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-02.jpg);
   }
   .bg.pix[name='3'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-03.jpg);
   }
   .bg.pix[name='4'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-04.jpg);
   }
   .bg.pix[name='5'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-05.jpg);
   }


   #bg-slideshow {
	/*	-webkit-backface-visibility: hidden;*/
   }   
   #home .container .wrap {
   		width: 100%;
   		margin: 0;
   		padding: 0;
   }
   #home .container figure {
   		display: inline-block;
	    font-size: 20px;
	    margin: 0 20px;
	    padding: 10px;
	    vertical-align: middle;
   }
   #home .container figure > div {
   		height: 160px;
   }
   #home .container figure img{
   	
   }
   
   #home .container figure figcaption {
   		font-size: 20px;
   		position:relative;
   }
   #home .container figure figcaption > span{
   		position: absolute;
   		font-size: 16px;
   		color: #F16122
   }
   #home .container span.action.right {
   		right: -50px;
   }
   #home .container span.action.left {
   		left: -54px;
   }
   #home .container p {
   		font-size: 16px;
   }
   #home .fw-band.body .muted {
   		color: #CCC;
   		display: inline-block;
	    line-height: 1;
	    text-align: center;
	    vertical-align: middle;
	    width: 7%;
   }
   #home .featurette-heading {
   		text-shadow: 1px 2px 2px rgba(241, 97, 34, 0.5);
   }
   #features .featurette-heading {
   		color: #D01F40;
   }
   #features .featurette-heading .subhead{
   		color: #000000;
   }

   
   #on-our-way {
   		height: 400px;
   		min-height: 400px;
   }
   
   #on-our-way .bg {
   		background-color: #E9C1C1;
   }
	#on-our-way .container {
		padding-top: 40px;
		height: 350px;
		color: black;
	} 
	
	#on-our-way .container .wrap {
		position: relative;		
		z-index: 1;
		background-color: #FFF;
		margin: 0 20%;
		width: auto;
		-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
	  }	
	#on-our-way .container .wrap p {
		font-size: 20px;
		line-height: 1;
	}   
	#on-our-way a.btn {
		color: #000;
	}
	#on-our-way .fw-band.footer {
	    height: 150px;
	    z-index: 0;
	  }	
	#on-our-way .fw-band.footer > .container {
		bottom: 10px;
	    height: auto;
	    margin-top: 80px;
/*	    position: absolute;
	    width: 100%;*/	  
	}	  
	#see-the-movie .bg {
   		background-color: #E9C1C1;
   }
   
   #about {
   		color: #fff;
   }
   
   #see-the-movie .body.container {
   		padding: 60px 0;
   }
   #call-to-action .container .btn-large {
   		margin-bottom: 10px;
   }
   #call-to-action form.sign-me-up {
   		text-align: center;
   }
   #call-to-action form.sign-me-up .email {
		border-radius: 4px 0 0 4px;
		padding-right: 0;
		width: 144px;
		   	
   }
   #call-to-action form.sign-me-up button[type=submit] {
		border-radius: 0 4px 4px 0;
   }
   
   #call-to-action .donate {
   		text-align: center;
   }
   #call-to-action .donate > .lead {
   		text-align: left;
   }
   #call-to-action .donate .donate-form-wrap {
	   	border-radius: 10px 10px 10px 10px;
	    color: white;
	    padding: 10px;
	    position: relative;
    	top: -54px;
   }
   #call-to-action .donate .donate-form-wrap p.lead{
   		font-size: 28px;
   		margin-bottom: 10px;
   }
   #call-to-action .donate  form {
   		display: inline-block;
   }
   #tag-line, #sharing {
   		color: #d47000
   }
   #tag-line .bg.pix , #sharing  .bg.pix {
   		height: 550px;
   }
   
   #sharing > .container {
/*   		for fb widget overflow */
   		height: 400px;				
   }
   #sharing .lead {
   		color: #fff;
   } 
   #sharing .social-sharing {
   		position:absolute;
   }
   #sharing .twitter-share-button {
   		vertical-align: top;
   }
 	
 	#tag-line span.muted, #sharing span.muted{
   		color: #ffaa00
   }
 	#FAQ .container {
 		padding: 20px;
 	}
 	#FAQ .featurette-heading {
 		color: #FFF;
 	}
 	#FAQ .faq-section {
 		margin-bottom: 20px;
 		padding: 20px;
 		border-radius: 20px;
 	}
 	#FAQ .faq-section h2{
 		color: #BBB;
 	}
 	#FAQ .question {
 		color: #FFF;
	    font-size: 16px;
	    font-weight: 300;
	    line-height: 1;
	    margin: 8px 0 4px
 	}
 	
 	#FAQ .answer {
 		color: #BBB;
 		font-weight: 300;
 	}
 	#FAQ .padding {
 		height: 80px;
 	}

 	
    /* Carousel base class */
    .carousel {
      margin-bottom: 0;
      z-index: 1;
    }
    
    .carousel-inner > ul {
    	margin: 0;
    }
    .carousel-inner .fw-band {
    	top: 20%;
    }

    .carousel .carousel-inner .container {
      padding: 20px 0;		
      min-height: 200px;
	  /*width: 80%;	*/			/* fit inside paging arrows 10% */
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
    	min-height: 300px;
    }
    .carousel .carousel-row img.graphic {
    	display: block;
    	max-height: 225px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      padding: 0;
/*      max-width: 550px;*/
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
/*      color: #fff;*/
      font-weight: 300;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    .carousel-row {
      line-height: 1.25;
/*      color: #fff;*/
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      margin: 0;
    }

	
	.carousel .carousel-pager {
		bottom: 40px;			/* should be height of .fw-band.footer */
	    font-size: 10px;
	    line-height: 10px;
	    margin-bottom: 10px;	/* margin above .fw-band.footer */
	    position: absolute;
	    width: 100%;
	}
	.carousel .carousel-pager div {
		border: 3px solid #FDF9D0;
		display: inline-block;
		height: 10px;
		width: 10px;
		margin-right: 10px;
		border-radius: 50%;
		background: #FDF9D0;
		color: #FDF9D0;
		text-indent: -9999px;
		cursor: pointer;
	}
	.carousel .carousel-pager div:last-child {
		margin-right: 0;
	} 
	.carousel .carousel-pager  div.active {
		background-color: #d47000;
	}

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

	#footer {
		margin: 0 20px;	
	}
	
	#footer .cakephp {
		background: url("/img/cake.power.gif") repeat scroll 0 0 transparent;
	    display: inline-block;
	    height: 13px;
	    margin-left: 10px;
	    vertical-align: middle;
	    width: 98px;
	}

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette > .container{
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette > .container .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

	.visible-desktop.featurette {
		min-height: 700px;
	}

    .featurette.the-movie {
      padding-top: 40px; /* Vertically center images part 1: add padding above and below text. */
    }
    .featurette.the-movie .center {
    	text-align:center;
    }
    
    .featurette.the-movie iframe {
    	width: 853px;
    	height: 480px;
    }
    
    

 

	












