    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      font-family: Helvetica,Arial,sans-serif;
      padding: 0;
/*      for iOS CSS transitions */
      	-webkit-backface-visibility: hidden;		
    }
    
    
	a, a:hover {
		color: #000;
	}

	.hide {
		display: none !important; 
	}
	
	.hidden, .invisible {
		visibility: hidden;
		opacity: 0;
	}
	.center {
		text-align: center;
	}

/*	http://www.jakpsatweb.cz/css/css-vertical-center-solution.html*/
   	.vcenter-wrap {
   		display: table; 
   		overflow: hidden;
   		width:100%;
   	}
   	html.lt-ie8 .vcenter-wrap {
   		position: relative; 
   	}
	.vcenter-wrap > .vcenter-padding {
		display: table-cell; 
		vertical-align: middle;
	}
	html.lt-ie8 .vcenter-wrap > .vcenter-padding {
		position: absolute; 
		top: 50%;
	}
	.vcenter-wrap > .vcenter-padding > .vcenter-body {
		position: relative; 
	}
	html.lt-ie8 .vcenter-wrap > .vcenter-padding > .vcenter-body {
		top: -50%;
	}
	   
		
	/*
	 * start item hidden
	 */
	.fade-slow {
		/* for background slideshow */
		  opacity: 0;
		  -webkit-transition: opacity 0.5s linear;
		     -moz-transition: opacity 0.5s linear;
		       -o-transition: opacity 0.5s linear;
		          transition: opacity 0.5s linear;
	}	
	
	.fadeOut {
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s ease-in, visibility 0s 1s ;
		-webkit-transition: opacity 1s ease-in, visibility 0s 1s ;
		     -moz-transition: opacity 1s ease-in, visibility 0s 1s ;
		       -o-transition: opacity 1s ease-in, visibility 0s 1s ;
	}
	.fadeOut-slow {
		visibility: hidden;
		opacity: 0;
		transition: opacity 3s ease-in, visibility 0s 3s ;
		-webkit-transition: opacity 3s ease-in, visibility 0s 3s ;
		     -moz-transition: opacity 3s ease-in, visibility 0s 3s ;
		       -o-transition: opacity 3s ease-in, visibility 0s 3s ;
	}
	.fadeIn {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s linear;
		-webkit-transition: opacity 0.5s linear;
		     -moz-transition: opacity 0.5s linear;
		       -o-transition: opacity 0.5s linear;
	}
	.fadeIn-slow {
		visibility: visible;
		opacity: 1;
		transition: opacity 1.5s linear;
		-webkit-transition: opacity 1.5s linear;
		     -moz-transition: opacity 1.5s linear;
		       -o-transition: opacity 1.5s linear;
	}
	
	.alert-wrapper {
		margin: 20px 0;
	    position: fixed;
	    text-align: center;
	    width: 100%;
	    z-index: 2000;
	}
	
	.alert-wrapper .alert {
		display: inline-block;
		min-width:280px;
	}

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
   
   #content {
   		overflow-x: hidden;
   		position: relative;
   }

   
   
   /*
    * .bg.pix content
    */
   .bg.pix[name='1'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-01.jpg);
   }
   .bg.pix[name='2'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-02.jpg);
   }
   .bg.pix[name='3'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-03.jpg);
   }
   .bg.pix[name='4'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-04.jpg);
   }
   .bg.pix[name='5'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-05.jpg);
   }

