body,
.navbar {
  font-size: 100% important !;
}
ul.inline > li {
  display: inline-block;
}
.popover {
  box-shadow: 1px 1px 2px #FDF9D0;
  background-clip: inherit;
  font-family: roboto;
}
.popover .popover-title {
  background-color: #D01F40 !important;
}
.popover .popover-inner .popover-content p {
  color: #D01F40 !important;
  text-shadow: 1px 1px 2px #000000 !important;
}
.navbar-inner .nav-collapse {
  font-size: 14px !important;
}
.navbar-inner ul.nav > li.iframe-close > a {
  color: #FDF9D0;
}
#isotope .nav {
  position: absolute;
  top: 4px;
  z-index: 99;
  left: 20px;
  display: inline;
  color: #FDF9D0;
  cursor: pointer;
}
#isotope .nav .nav-btn {
  display: inline;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 1px 1px 2px #000;
}
#isotope .nav i {
  font-size: 18px !important;
  vertical-align: text-bottom;
  cursor: pointer;
}
#isotope .nav .nav-btn:hover,
#isotope .nav i:hover {
  text-shadow: 1px 1px 2px #F16122;
}
#isotope .ipad {
  height: 1080px;
  min-height: 768px;
  position: relative;
}
#isotope .ipad .stage-body {
  min-width: 940px;
  height: 1080px;
  margin: 3em auto;
}
#isotope .share-story {
  position: absolute;
  right: 20px;
  bottom: 4px;
  z-index: 99;
  font-size: 40px;
  cursor: default;
}
#isotope .featurette-heading h1 {
  position: relative;
}
#isotope .more-stories {
  position: absolute;
  top: 10px;
  right: 10px;
}
#isotope .more-stories a:hover > span.label {
  color: #F16122;
}
#isotope .more-stories span.label2 {
  font-size: 18px;
  color: #FDF9D0;
}
#isotope .more-stories span.label {
  font-family: roboto;
  font-weight: normal;
  color: #FDF9D0;
  cursor: pointer;
  box-shadow: 1px 1px 2px #FDF9D0;
}
.circle:not(.wrap) {
  background: #7d7e7d;
  background: -moz-linear-gradient(top,#7d7e7d 0%,#0e0e0e 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#7d7e7d),color-stop(100%,#0e0e0e));
  background: -webkit-linear-gradient(top,#7d7e7d 0%,#0e0e0e 100%);
  background: -o-linear-gradient(top,#7d7e7d 0%,#0e0e0e 100%);
  background: -ms-linear-gradient(top,#7d7e7d 0%,#0e0e0e 100%);
  background: linear-gradient(to bottom,#7d7e7d 0%,#0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d',endColorstr='#0e0e0e',GradientType=0);
  font-size: 12px;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
  cursor: pointer;
}
.circle:not(.wrap):hover {
  background: #0e0e0e;
  background: -moz-linear-gradient(top,#0e0e0e 0%,#7d7e7d 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0e0e0e),color-stop(100%,#7d7e7d));
  background: -webkit-linear-gradient(top,#0e0e0e 0%,#7d7e7d 100%);
  background: -o-linear-gradient(top,#0e0e0e 0%,#7d7e7d 100%);
  background: -ms-linear-gradient(top,#0e0e0e 0%,#7d7e7d 100%);
  background: linear-gradient(to bottom,#0e0e0e 0%,#7d7e7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e0e0e',endColorstr='#7d7e7d',GradientType=0);
  color: #F16122;
}
.container .ipad {
  position: relative;
  left: 50%;
  overflow: auto;
  margin-bottom: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.container .ipad .caroufredsel_wrapper {
  width: auto !important;
  height: auto !important;
}
.container .ipad .caroufredsel_wrapper > ul.scroller {
  position: inherit !important;
}
.container .ipad.landscape {
  width: 1024px;
  height: 768px;
  min-height: 768px;
  margin-left: -512px;
}
.container .ipad.landscape .timeline .feature {
  height: 664px;
}
.container .ipad.portrait {
  height: 1024px;
  min-height: 768px;
  width: 768px;
  margin-left: -384px;
}
.container .ipad.portrait .timeline .feature {
  height: 920px;
}
html.touch .ipad {
  cursor: pointer !important;
}
html.touch span.more-stories a.hover-effect span.label {
  color: #F16122 !important;
}
html.touch .nav-btn.hover-effect,
html.touch i.hover-effect {
  color: #F16122 !important;
  text-shadow: 1px 1px 2px #F16122;
}
html.touch .circle.hover-effect:not(.wrap) {
  color: #F16122 !important;
}
hr {
  margin: 0 !important;
  position: relative;
  top: 78px;
  z-index: 0;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
@media (max-width: 1600px) {
  .container .ipad.landscape.fullw {
    width: 1368px;
    margin-left: -684px;
  }
  .container .ipad.landscape.fullw .timeline li:not(.active) {
    width: 148px;
  }
  .container .ipad.landscape.fullw .timeline .feature {
    height: 796px;
  }
}
@media (max-width: 1400px) {
  .container .ipad.landscape.fullw {
    width: 1170px;
    margin-left: -585px;
  }
  .container .ipad.landscape.fullw .timeline li:not(.active) {
    width: 148px;
  }
  .container .ipad.landscape.fullw .timeline .feature {
    height: 664px;
  }
}
@media (max-width: 1200px) {
  .container .ipad.landscape.fullw {
    width: 1024px;
    margin-left: -512px;
  }
  .container .ipad.landscape.fullw .timeline li:not(.active) {
    width: 148px;
  }
  .container .ipad.landscape.fullw .timeline .feature {
    height: 664px;
  }
}
@media (max-width: 1023px) {
  .container .ipad.landscape {
    width: 900px;
    margin-left: -450px;
  }
  .container .ipad.landscape .timeline li:not(.active) {
    width: 148px;
  }
  .container .ipad.landscape .timeline .feature {
    height: 664px;
  }
}
@media (max-width: 899px) {
  .container .ipad.landscape {
    width: 768px;
    margin-left: -384px;
  }
  .container .ipad.landscape .timeline li:not(.active) {
    width: 120px;
  }
  .container .ipad.landscape .timeline li.active {
    width: 300px;
  }
  .container .ipad.landscape .timeline .feature {
    height: 664px;
  }
}
