

/* ==========================================================================
   Author's custom styles  MOVE TO LAYOUT
   ========================================================================== */
/*    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
*/
            

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 40px;
      color: #5a5a5a;
    }

/*	 http://mktgdept.com/ios-position-fixed-bug */
	.iosfix {
	  height: 101%;
	  overflow: hidden;
	}
	
	.hide {
		display: none !important; 
	}
	
	.hidden {
		visibility: hidden !important;
	}
	
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
   #header {
   }
    .bounding-box {
    	position:relative;
    	top:20px;
    	width: 100%;
    	z-index: 100;
    }
    .bounding-box.affix {
    	position:fixed;
    	top:0;
    }

    .navbar {
    	padding: 0 10px;
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
 		height: 40px;              
    }

    .navbar .navbar-inner {
    	opacity: 0.85;
    	border-radius: 7px;
    	padding-left: 10px;
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
    }
	
	.nav > li.active {
		background-color:#000;
	}
    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
    }

	.alert-wrapper {
		margin: 20px 0;
	    opacity: 0.85;
	    position: fixed;
	    text-align: center;
	    width: 100%;
	    z-index: 2000;
	}
	
	.alert-wrapper .alert {
		display: inline-block;
		min-width:280px;
	}

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
   .featurette {
   		position:relative;
   }
   #help-me {
	   	height: 550px;		/* section height */
	   	overflow: visible;
   }
   #help-me .bg-wrap {
   		background-image:url(http://a0.twimg.com/a/1358279006/t1/img/front_page/city-balcony@2x.jpg);
   		background-repeat: no-repeat;
		background-color: #000000;
		background-size: cover;
		background-position: center center;
		position:absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: -120px;    /* featurette .padding-top   REMOVE THIS */
   }
   
/*   http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters/*/
   .alpha50b {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.5);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000)";
	}
	.alpha75w {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(255, 255, 255);
		/* RGBa with 0.6 opacity */
		background: rgba(255, 255, 255, 0.75);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF, endColorstr=#BFFFFFFF);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF, endColorstr=#BFFFFFFF)";
		
	}
	html.ie .alpha50b , html.ie .alpha75w {
		background:transparent;			/* makes border-radius invisible, wrap?  */
	}
	
	
   #help-me.featurette .container {
	    border-radius: 20px;
	     -webkit-border-radius: 20px;
	     -moz-border-radius: 20px;

	    margin: 60px 20px 20px 60px;
	    padding: 20px;
	    width: 80%;
   }

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
      z-index: 1;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
/*      max-width: 550px;*/
      padding: 0 20px;
      margin-top: 200px;
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    .carousel-row {
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

	#footer {
		margin: 0 20px;	
	}

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

	.visible-desktop.featurette {
		min-height: 700px;
	}

    .featurette.the-movie {
      padding-top: 40px; /* Vertically center images part 1: add padding above and below text. */
    }
    .featurette.the-movie .center {
    	text-align:center;
    }
    
    .featurette.the-movie iframe {
    	width: 853px;
    	height: 480px;
    }
    
    
    .featurette.call-to-action {
    }    
    .featurette.call-to-action fieldset 
    {
    	border: 1px solid #888;
    	border-radius: 20px;
    	display: inline-block;
    	padding: 10px 20px;
    }
    .featurette.call-to-action fieldset legend 
    {
    	border: none;
    	line-height: auto;
    	margin: 0;
    	padding: 0 20px;
    	width: 120px;
    	text-align: center;
    	
    }
    .featurette.call-to-action .featurette-image {
    	margin-top: 0px;
    }
    
    .featurette.tag-line {
    	background-color: #CCC;
    	padding: 120px 80px;
    }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }
      .carousel-caption {
		margin-top: 100px;
		}

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      .featurette.the-movie iframe {
    	width: 90%;
    	height: 480px;
      }
      
    }


    @media (max-width: 767px) {
      .bounding-box {
      	position: fixed;
      	top: 0;
      }	
      .bounding-box.affix {
    	position: fixed;
      }
	  .navbar {
	  	padding: 0;
	  }
      .navbar  .navbar-inner {
        margin: 0 0 0 -20px;	/* pull left to compensate for .body margin-left:20px */
        border-radius: 0;
      }
      .nav-collapse.collapse {
      	background-color: #eee;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 700px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 100%;
        padding: 0 40px;
        margin-top: 60px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
      .carousel .item {
      	width: 80%;
      	padding: 0 10%;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
    
	  .featurette.the-movie iframe {
	    	width: 90%;
	    	height: 360px;
	  }
    
    }


@media (max-width: 467px) {
	.carousel-caption {
		margin-top: 60px;
	}
	.featurette.the-movie iframe {
	   	width: 90%;
	   	height: 300px;
	}
	.alert-wrapper {
		margin: 10px 0;
	}
	
	.alert-wrapper .alert {
		min-width : 160px;
	}	
}    


	












