/**
 * 	for iPhone, android layouts
 * 	Notes: Media Query results, see: 
 * 		http://responsejs.com/labs/dimensions/
 * 		http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 * 		- iphone 3+: 320x480
 * 		- iphone 4+/retina: 640x960px, pixel-density=2
 * 		- iphone 5: 640x1136px,  pixel-density=2
 * 		- android, Galaxy Nexus: 360x592
 * 
 * 		use 768 >= W >= 468 for iphone 4 landscape, check at 480px
 * 		use 467 >= W >= 320 for iphone 4/5 portrait, check at 320px
 * 		use 467 > W, and initial-scale for mobile/Galaxy Nexus
 * 		 
 */


@media
    only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (device-height: 640px),
    only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (device-width: 640px) {
    /* iPhone only */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-device-width: 580px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPhone 4 retina display , landscape max-width: 480px   767 >= W >= 468px */
/* .navbar collapse */
@media (max-width: 580px) {	
	html.no-touch .navbar .btn-navbar {
		margin-right: 15px;
	}	
	
	/* fix overlay background for .nav-collapse.in.collapse */ 
	.navbar.alpha70b {
		background: transparent;
		box-shadow: none;
	}
	.navbar.alpha70b .navbar-inner {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		
		/* same as alpha70b */
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.70);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000)";
	}
	
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: absolute;
		z-index: 2000;
		-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
				-o-transition: all 1s ease;
				transition: all 1s ease;
				
	}
	
	.navbar .nav-collapse.in.collapse {
		border-radius: 0 0 6px 6px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	}
	/* touch zone for showing navbar */
	#header .show-navbar {
		height: 20px;
		margin: 0;
		display: block !important;
	}
	
   /*
    * .bg.pix content
    */
   .bg.pix[name='1'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-01.sm.jpg);
   }
   .bg.pix[name='2'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-02.sm.jpg);
   }
   .bg.pix[name='3'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-03.sm.jpg);
   }
   .bg.pix[name='4'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-04.sm.jpg);
   }
   .bg.pix[name='5'] {
   		background-image:url(http://snappi.snaphappi.com/static/css/bootstrap/img/bg-img-05.sm.jpg);
   }
   	
		#fold {
		    top: 320px;
		    width: 480px;
		}
		.featurette {
			min-height: 350px;
		}
	}
	
	
	
/* iPhone 4/5 retina display , portrait max-width: 320px   467 >= W  */
@media (max-width: 467px) {
		#fold {
		    top: 480px;
		    width: 320px;
		}	
	.carousel-caption {
		margin-top: 60px;
	}
	.featurette {
		min-height: 350px;
	}
	.featurette.the-movie iframe {
	   	width: 90%;
	   	height: 300px;
	}
	.alert-wrapper {
		margin: 10px 0;
	}
	
	.alert-wrapper .alert {
		min-width : 160px;
	}	
}    
