/*
 * iscroll swipe-based carousels for touch devices
 * 
 * 
 * 	.iscroll-wrapper == html.touch .carousel-inner
 * 	.iscroll-scroller == html.touch .carousel-inner > ul
 * 
 */
html.touch .carousel-inner, .iscroll-wrapper {
	position: relative;
	z-index: 1;
	width: auto; 				/* required: center iscroll */
	overflow: hidden;
	margin: 0 auto;
}
html.touch .carousel-inner > ul, .iscroll-scroller {
}

html.touch .carousel-inner  .container {
	padding: 20px 0;
	min-height: 200px;
}

html.touch .carousel {
    margin-left: 0;
    margin-right: 0;
}

html.touch .carousel-inner > ul {
	list-style: none;
	display: block;
/*	float: left;*/
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}

html.touch .carousel-inner > ul li.item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	height: 100%;
}


