/*
 * iscroll swipe-based carousels for touch devices
 */

.carousel .carousel-inner .container, .iscroll-wrapper  .container {
	padding: 60px 0px 20px;
	min-height: 200px;
	width: 80%;	/* fit inside paging arrows 10% */
}

.iscroll-scroller {
	list-style: none;
	display: block;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}

.iscroll-scroller li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	height: 100%;
}

.iscroll-scroller {
	width: 4700px;
}
.iscroll-wrapper, .iscroll-scroller li {
	width: 940px;
}

.carousel .carousel-pager, .iscroll-pager {
	bottom: 40px;	/* should be height of .fw-band.footer */
	font-size: 10px;
	line-height: 10px;
	margin-bottom: 20px;	/* margin above .fw-band.footer */
	position: absolute;
	width: 100%;
}
.carousel .carousel-pager div, .iscroll-pager div {
	border: 3px solid #FFFFCE;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background: #FFFFCE;
	color: #FFFFCE;
	text-indent: -9999px;
	cursor: pointer;
}
.carousel .carousel-pager div:last-child, .iscroll-pager div:last-child {
	margin-right: 0;
}

.carousel .carousel-pager  div.active, .iscroll-pager div.active {
	background-color: #d47000;
}


@media (max-width: 767px) {
	.iscroll-wrapper .container{
	      	padding-top: 20px;
	}
}