html.fontface {
  body, select {
      font-family: "Roboto", Helvetica,Arial,sans-serif;
  }
  .navbar {
    // font-family: "SourceSansProRegular", "Helvetica Neue", Helvetica,Arial,sans-serif;      
    font-weight: 700 !important;
  }
  .featurette-heading, .fw-band.footer, #home figcaption, #FAQ h2, button, #curtain {
    font-family: "GeoSansLightRegular", Helvetica,Arial,sans-serif;      
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  figcaption .body, .container p  {
      font-weight: 300;
      line-height: 1.40;
  }
  .logo {   // use with $('.checkfont').fontChecker()
    color: white;
    font-family: "GeoSansLightRegular";  
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    text-shadow: none;
    .cursive {
      color: @cream;  
      font-family: 'Homemade Apple';
      text-shadow:  0 0 1px #F16122;
      padding-left: 2px;
    }
  }
  .fontloading {
    visibility: hidden !important; 
  }
  .fontFail {
    visibility: visible !important;
  }
}


/**
 * 	Less 
 */
@red: #D01F40;
@card: #711124;
@orange: #F16122;
@cream: #FDF9D0;
@peach: #E9C1C1;
@darkgrey: #152437;

/*   
 * http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters/ 
 * http://stackoverflow.com/questions/9436776/lesscss-method-with-ie-filter-alpha-opacity-css
 */

.rgba(@hex:#000000, @alpha:0.7) {
		/* Fallback for web browsers that doesn't support RGBa */
		background-color: @hex;
		/* RGBa with alpha */
		background-color: hsla(hue(@hex), saturation(@hex), lightness(@hex), @alpha);
}

.ie-rgba(@hex:#000000, @alpha:0.7) {
    /* Fallback for web browsers that doesn't support RGBa */
    background-color: transparent;
    /* RGBa with alpha */
    background-color: hsla(hue(@hex), saturation(@hex), lightness(@hex), @alpha);
    @ieGradient: argb(rgba(0, 0, 0, @alpha));
    /* For IE 5.5 - 7*/
    filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieGradient}, endColorstr=@{ieGradient} )";
    /* For IE 8*/
    -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieGradient}, endColorstr=@{ieGradient})";
}

html:not(.lt-ie8), html.ie8:not(.doc-mode-ie8){
  .alpha.rgba80b,
  .nav-collapse.in.collapsed-alpha.rgba80b {    /* for darker navbar, footer */
    .rgba(#000000, 0.8);  
  }
  .alpha.rgba70b {
    .rgba(#000000, 0.7);
  }
  .alpha.rgba50b {      /* for .alpha .alpha.rgba70b */
    .rgba(#000000, 0.5);
  }
  .alpha.rgba30b {      /* for .body-opaque */
    .rgba(#000000, 0.3);
  }
  .alpha.rgba70r {    /* same as #DD1260 */   
    .rgba(@red, 0.7);
  }
  .alpha.rgba70card {    /* same as #DD1260 */   
    .rgba(@card, 0.7);
  }
  .alpha.rgba80w {
    .rgba(#FFFFFF, 0.8);
  }
  .alpha.rgba70cr {
    .rgba(@cream, 0.8);
  }
  .alpha.rgba70ph {
    .rgba(@peach, 0.7);
  }
  .alpha.rgba70o {
    .rgba(@orange, 0.7);
  }  
  .no-ie-alpha70b {
    .rgba(#000000, 0.5);
  }  
}

html.ie8.doc-mode-ie8 {
  .alpha.rgba80b {    /* for darker navbar, footer */
    .ie-rgba(#000000, 0.8);  
  }
  .alpha.rgba70b {
    .ie-rgba(#000000, 0.7);
  }
  .alpha.rgba50b {      /* for .alpha .alpha.rgba70b */
    .ie-rgba(#000000, 0.5);
  }
  .alpha.rgba70r {    /* same as #DD1260 */   
    .ie-rgba(@red, 0.7);
  }
  .alpha.rgba70card {    /* same as #DD1260 */   
    .ie-rgba(@card, 0.7);
  }
  .alpha.rgba80w {
    .ie-rgba(#FFFFFF, 0.8);
  }
  .alpha.rgba70cr {
    .ie-rgba(@cream, 0.8);
  }
  .alpha.rgba70ph {
    .ie-rgba(@peach, 0.7);
  }
  .alpha.rgba70o {
    .ie-rgba(@orange, 0.7);
  }  
  .no-ie-alpha70b {
    .ie-rgba(#000000, 0.5);
  }  
  .alpha  {
    background: transparent;  /* makes border-radius invisible, wrap?  */
  }
  .featurette .fw-band.footer, .featurette.body-opaque, #FAQ .faq-section, #call-to-action .donate-form-wrap  {
    background: transparent;
  }
  .navbar-inverse .navbar-inner {
    background-image: none;
    background-color: red;
    /* For IE 5.5 - 7*/
    filter:~"progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    /* For IE 8*/
    -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  }
  
  .no-ie-alpha70b {
    background: #222 !important;
  }
  .navbar.navbar-inverse {
    background: #222 !important;
    .navbar-inner {
      background: #222 !important;
      .nav > li:hover,
      .dropdown-menu li.active > a,
      .dropdown-menu li > a:hover {
        // background-color: transparent;
        background: #222 !important;
        filter:~"progid:DXImageTransform.Microsoft.gradient(enabled = false)";
        /* For IE 8*/
        -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(enabled = false)";
      }
      .nav > li.dropdown, ul.dropdown-menu {
        background: #000 !important;
      }
    }
  }
  #home .about{
    background-color: rgba(0, 0, 0, 0.5);
  }  
  
}


.rgb-text-shadow(@hex=#000000, @alpha:1) {
  text-shadow: 1px 1px 2px hsla(hue(@hex), saturation(@hex), lightness(@hex), @alpha);
}
.rgb-text-shadow(@hex=#333333) {
  text-shadow: 1px 1px 2px @hex;
}
.rgb-text-shadow-sm(@hex=#333333) {
  text-shadow: 0 0 1px @hex;
}

body {
  color: @cream;  
}

/*
 * ie only for alpha
 */
	


i.icon-white {
  background-image:url(/img/glyphicons-halflings-white.png);
}

// for form .email
.popover {
  .popover-inner {
    .popover-title {
      .strong;
      background-color: @red;
      .rgb-text-shadow-sm();
      color: #FFF;
      font-size: 16px;
    }
    .popover-content p {
      text-shadow: none;
      font-size: 14px !important; 
      color: #000;
    }
  }
}

.rounded-corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

#curtain {
  height: 100%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9998;
  cursor: wait;
  .wrapV {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 40%;
    z-index: 9999;
    .logo {
      font-size: 40px;
      padding: 20px;
      .cursive {
        text-shadow: 2px 2px 2px @orange;
      }
    }
  }
}



.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 0 10px;
  height: 40px;
  /* Remove border and change up box shadow for more contrast */
  .navbar-inner {
    border: 0;
    height: 40px;
    background: transparent;              
    box-shadow: none;
  }
    
  /* Downsize the brand/project name a bit */
  .brand {
    margin: 0;
    padding: 0 10px;
    img {
      height: 40px;
      width: 117px;
    }
  }
  .nav > li.dropdown > .dropdown-menu:before,
  .nav > li.dropdown > .dropdown-menu:after {
    border: none !important;   /*  triangle anchor for dropdown-menu */
  }
  .nav-collapse {
    .nav > li > a,
    .dropdown-menu a {
      font-weight: normal;
    }
  }
  .dropdown-menu {  /* show by clicking more button */
    margin-top: 0;
    background-color: transparent;    border-radius: 0 0 6px 6px;
    border-top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    
  }
  
  .nav-collapse.in.collapse { 
    /* open collapsed menu, @680px */
    .nav .dropdown-menu {
      /* more dropdown inside collapsed menu */
      box-shadow: none;
      margin: auto 0;    // full width when collapsed
    }
  }
  
  .nav-collapse.collapse:not(.in) {
    /* full width menu, not collapsed */
    background-color: transparent !important;
    background:transparent !important;
    .dropdown.open .dropdown-menu {
      // extra .alpha.rgba80 not a problem for no-ie
    }
  }
  
}

.navbar.navbar-inverse  {
  > .navbar-inner.ie-no-filter,
  > .navbar-inner.ie-no-filter ul.nav {
      filter:~"progid:DXImageTransform.Microsoft.gradient(enabled=false)";
      -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  }
  .nav > li.active ,  
  .nav > li.active a,
  .dropdown-menu li.active > a {
    /* selected menuItem properties */
    background-color: #000;
    background-image: linear-gradient(to bottom, #333333, #000000);
    box-shadow: 0 2px 10px rgba(253, 249, 208, 0.25);
    color: #FDF9D0 !important;
  }
  
  .dropdown-menu li a:hover,
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover  {
    /* :hover menuitem text */
    color: #FFF;    
  }
  
  .nav > li:hover:not(.dropdown), 
  .dropdown-menu li.active > a,
  .dropdown-menu li > a:hover {
    /* NOT selected menuitem text */
    background-image: none;         
    background-color: transparent; /* cancel the blue gradient */
    box-shadow: 0 2px 10px rgba(255, 255, 206, 0.25);
  }  
  .dropdown-menu li a {
    /* NOT selected _dropdown_ menuitem text */
    color: #999;      
  }
  
  /*  red more menuitem */
  .nav {
    li.dropdown > .dropdown-toggle .caret 
    {
      border-bottom-color: @red;
      border-top-color: @red;
    }
    li.dropdown > .dropdown-toggle:hover .caret,
    li.dropdown.active > .dropdown-toggle .caret, 
    li.dropdown.open > .dropdown-toggle .caret {
      border-bottom-color: #FFFFFF;
      border-top-color: #FFFFFF;
    } 
  }  li.dropdown a.dropdown-toggle {
    color: @red;
  }
}


html.touch  {
  .navbar .nav-collapse.in.collapse .nav  li > a, 
  .dropdown.open .dropdown-menu li > a
  {
    padding-top: 10px;  /* extra vertical space for fingers */
    padding-bottom: 10px;
  }
}

html.ie9 .navbar {
  .dropdown-menu li > a:hover  {    /* TODO: this is NOT working */
    background-color: transparent;  /* cancel the blue gradient */
    background-image: none;
  }
}


/*
 * body content
 */

.bg.fixed {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;   
  width: 100%;
  z-index: -1;
}
.bg.fixed.active:nth-child(5) {
  z-index: -2;      // should be below the fadeOut bg, in this case the :first
}


.featurette {
    position:relative;
		.fw-band.vcenter-body {
			padding: 10px 0; 
			padding-top: 40px;       /*  for .navbar, remove when not fixed */
			min-height: 678px;        /* #features=768px tall page on ipad landscape */
			position: static;        /* DISABLE vertical centering */
		}
		> .fw-band.vcenter-body {
		  position: static;
		}
		.wrapW {
			margin: 0 auto;
		}
		.nowrap {
		  white-space:nowrap;
		}
		.container {
		  p {
   	    font-size: 16px;
   		}
   		p.footnote {
   		  font-size: 1em !important;
   		}
   	}
   	strong {
      font-family: "Roboto", Helvetica,Arial,sans-serif !important;       font-weight: bold;
    }
		.featurette-heading {
			.rgb-text-shadow();
			font-weight: 400;
			margin: 0 5%;
			padding: 20px 0;
			h1 {
				font-size: 72px;
				font-weight: normal;
				line-height: 1.15;
				margin: 0;
			}
			.subhead {
			  font-size: 21px;
			  line-height: 1.15;
			  letter-spacing: -0.5px;
			}
		}
		figure.graphic {
			display: inline-block;
	    margin: 0;
	    padding: 10px;
	    padding-bottom: 0;	    vertical-align: middle;
	    width: auto;
	    .wrapH {
	    	img {
	    		max-height: 100%;
	    	}
	    }
	    figcaption {
	      font-size: 32px;
	      line-height: 1.15;
	    	margin-top: 10px;
	    	.rgb-text-shadow()    // text-shadow: 1px 1px 2px #333333;
	    	.body {
	    		font-size: 18px;
  				text-align: left;
	    	}
	    }	
		}
		.fw-band.footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      color: @cream;
      font-size: 24px;
      line-height: 1;
      padding: 8px 0;
      a , a:visited {
        color: @cream;
        text-decoration: none;
      }
      a:hover {
        color: @cream;
        .rgb-text-shadow(@orange);
      }
   }
}
/*
 * wrap transparent bands around opaque body 
 */
.featurette.body-opaque.alpha {
  padding-top: 40px;
  .opaque {
    background-color: white;
    .fw-band {
      padding-top: 0;   // cancel out padding-top:40px
    }
  }
}   

#home {
  transition: opacity 2s ease-in 0s;
  -webkit-transition: opacity 2s ease-in 0s;
         -moz-transition: opacity 2s ease-in 0s;
           -o-transition: opacity 2s ease-in 0s;
  .fw-band.vcenter-body {
    min-height: 460px;
  }
	.featurette-heading {
		.rgb-text-shadow(@orange);
	}
	figure.graphic {
		color: @cream;
		margin: 0 20px;
    .wrapH {
   		max-height: 160px;
   		height: 160px;
    }
    figcaption {
      line-height: 20px;
      font-size: 20px;
      position:relative;
      > span {
        position: absolute;
        font-size: 16px;
        color: #F16122
      }
      span.action.right {
       right: -57px;
      }
      span.action.left {
          left: -69px;
      }
    }
	}
	.vscroll-hint {
    box-shadow: 0 2px 10px rgba(253, 249, 208, 0.25);
    cursor: default;
    padding: 8px 4px;
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -40px;        // 1/2 height of element
	  .rounded-corners(20px);
	  .rgb-text-shadow(@orange);
	  -webkit-tap-highlight-color : rgba(0,0,0,0);
	  i {
	    font-size: 20px;
	    line-height: 1;
	  }
	}
	.overlay {
	  padding: 20px 20px 10px;
	  box-shadow: 0 2px 10px rgba(253, 249, 208, 0.25);

	  .rounded-corners(10px);
	  text-align: left;
	  p {
	    .rgb-text-shadow-sm(@orange);
	    font-size: 14px;
	    a {
	      color: inherit;
	    }
	  }
	}
}

html.js #home .fw-band.vcenter-body {
  height: 1100px;
}

/*
 * #features
 */
.featurette.carousel {
	margin-bottom: 0;
  z-index: 1;
	.scroller {
		li {
			display:inline-block;
			vertical-align:top;
		}
	}
	.fw-band.vcenter-body {
		height: auto;
		li.item {
			text-align: center;
			transition: none;
			margin: 0;
      padding: 0;
		}
		.btn-large {
      margin-top: 10px;
    }
	}	
	
	figure.graphic {
		width: auto;
		max-width: 900px;
		vertical-align: top;
		.wrapH {
		  display: inline-block;
			img {
			}
		}
		figcaption {
		  display: inline-block;
			.rgb-text-shadow();
			.narrow {
        letter-spacing: -1px;
      }
      .body {
      }			
		}
	}
	.carousel-control-btn  {
    color: @cream;
    cursor: pointer;
    opacity: 0.8;
    background: none;
    border-radius: none;
    border: 0 none;
    font-size: 120px;
    font-weight: normal;
    height: 80px;
    margin-top: 0;
    left: 15px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 40%;
    width: 40px;
    .rgb-text-shadow(@orange);
  }
  
  .carousel-control-btn.right {
    left: auto;
    right: 15px;
  }
  
  .carousel-pager {
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 10px;  /* margin above .fw-band.footer */
      position: static;
      width: inherit;
      > div {
        border: 3px solid @cream;
        display: inline-block;
        font-size: 10px;
        height: 10px;
        width: 10px;
        margin-right: 10px;
        border-radius: 50%;
        background: @cream;
        color: transparent;
        cursor: pointer;
      }
      
      > div:last-child {
        margin-right: 0;
      }
      .active, .selected {
        background-color: @orange;    
        box-shadow: none;
        cursor: default;
      }
  }
}


/**
 *  for left image right text w/o using float:left
 *    used by #how-it-works
 *    cancel @media 479 
 */
.featurette.carousel .carousel-inner {
    li.item.left-image {      
      text-align: left;
      figure {
        position: relative;
        .wrapH {
          display: inline-block;
          width: 40%;
          margin-left: 5%;
        }
        figcaption{
          display: inline-block;
          width: 50%;
          vertical-align: middle;
        }
      }
    }
}

.featurette.carousel.fred { 
  .carousel-inner {
    margin: 0 auto;  
    width: 90%;   /* TODO: set to 90% $(window).width() */
    > div {
      margin: 0 auto !important;      /* OVERRIDE carouFredSel positioning */
    }
  }
}

html.no-touch {
  /* NOTE: we are supressing hover/click on html.touch next/prev/pagination to prevent CSS flashes */
  .carousel-control-btn:hover {
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(241, 96, 34, 1);
  }
  .carousel-pager {
    > div:hover{
      box-shadow: 0px 0px 10px rgba(241, 96, 34, 1);
    }
  }
}

html.touch  {
  .navbar .nav a {
    -webkit-tap-highlight-color : rgba(0,0,0,0);
  }
  /* supress click on html.touch next/prev/pagination to prevent CSS flashes */
  .carousel-control-btn {
    cursor: default !important;  
    -webkit-tap-highlight-color : rgba(0,0,0,0);  // prevent ipad CSS flashes
  }
  .carousel-pager {
    cursor: default;
    margin-top: 10px;
    > div {
      cursor: default !important;
      -webkit-tap-highlight-color : rgba(0,0,0,0); // prevent ipad CSS flashes
    }
  }
}

#features {
  .featurette-heading {
    color: @red;
    text-shadow: 1px 1px 1px #333;
    strong {
      .rgb-text-shadow-sm();
    }
  }
  .carousel-inner {         /* start with one row, overflow-x: hidden */
    max-width: 1300px;
    .scroller {
      width: 1300px;        /* count * itemW == 5 * 260 == 1300 */
    }
  }
  
  figure.graphic {
    width: auto;
    max-width: 280px;  
    min-height: 100px;    .wrapH {
      height: 120px;
      img {
        /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); */
      }
    }
    figcaption {
      color: #333;
      text-shadow: 1px 1px 1px #666;
      font-size: 20px;
      strong {
        color: @red;
      }
      .body {
        font-size: 16px;
        text-shadow: none;
      }     
    }
  }
  .carousel-control-btn {
    color: @orange;
  }
  .carousel-pager {
    > div {
      border: 3px solid @orange;
      background: @orange;
    }
    // > div:hover{
      // box-shadow: 0px 0px 10px rgba(241, 96, 34, 1);
    // }
    .active, .selected {
      background-color: @cream;    
    }
  }
}


  
#how-it-works {
  .carousel-inner {         /* start with one row, overflow-x: hidden */
    max-width: 1170px;
    /* don't add height for carousel.fred */
    .scroller {
      width: 4600px;        /* count * itemW == 5 * 920 == 4600 */
    }
    .caroufredsel_wrapper {
      li.item {
        position: static;
      }
    }
  }
  figure.graphic {
    min-height: 100px;
    width: inherit;     // set by carouFredSel in li.item
    position: static;
    .wrapH {
      max-height: 260px;    
    }
    figcaption {
      font-size: 32px;
      .body {
        /*
         * for some reason, the FIRST figcaption .body
         * must be taller than .wrapH for height=variable to work.
         * set figcaption .body min-height = .wrapH height or max-height
         */
        min-height: 260px;
        font-size: 18px;
      }
    }
  }
}


#see-the-movie {
  .featurette-heading {
    color: @red;
    padding-bottom: 0;
  }
  iframe {
    max-width: 853px;
    width: 90%;
    height: 480px;
  }
}

#call-to-action {
  .rgb-text-shadow();
  .wrapZ {
    position: relative;
    z-index: 1;
  }
  .featurette-heading {
    border: 2px solid @cream;
    margin: 80px 0 20px;
    padding: 20px;
    line-height: 1.15;
    h1 {
      font-size: 60px;
      margin: 0;
    }
  }
  img.darkroom {
    background: url("/img/beachfront/darkroom.png") no-repeat scroll right top transparent;
    background-size: 100%;
    height: 110px;
    width: 361px;
    position: absolute;
    right: -29px;
    top: -59px;
    width: 361px;
    z-index: -1;
  }
  .container {
    p {
      font-size: 21px;
      .icon-asterisk {
        font-size: 0.6em;
        vertical-align: super;
      }
    }
    .wrapH img {
      height: 260px;
    }
  }
  form.call-to-action {
    .wrapH {
      display: inline;
      margin: 10px;
    }
    button {
      font-size: 16px;
    }
    button#invite {
      color: #000;
      .rgb-text-shadow(#FFFFFF, 1);
    }
  }
  .donate-form-wrap {
    .rounded-corners(10px); 
    padding: 10px;
    margin-bottom: 10px;
    form {
      display: inline-block;
      padding: 0 40px;
    }
    p.lead {
      min-height: 0;
    }
    .icon-remove-sign {
      cursor: pointer;
    }
  }
}

#sharing, #thank-you, #about, #FAQ {
  .rgb-text-shadow();
  .featurette-heading {
    border: 2px solid @cream;
    color: @cream;
    margin: 80px 0 20px;
    padding: 20px;
    line-height: 1.15;
    h1 {
      font-size: 60px;
      margin: 0;
    }
    .wrapH {
      margin: 20px 0;
    }
  }
  .container {
    p {
      font-size: 18px;
    }
    .wrapH img {
      height: 160px;
    }
  }
}

#sharing, #thank-you h1 {
  .rgb-text-shadow(@orange);
  span.muted, .subhead {
    color: @cream;
    .rgb-text-shadow(@orange);
  }
  .tweet-wrap {
    display: inline-block;
    height: 29px;
    vertical-align: top;
  }
}

#about {
  .container .body {
    color: @cream;
    .rgb-text-shadow(#000);
  }
}
#FAQ {
  .faq-section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
  }
  .faq-section h2{
    color: #BBB;
  }
  .container {
    .question {
      color: #FFF;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.4;
      margin: 14px 0 4px
    }
    
    .answer {
      color: @cream;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

#footer {
  margin: 0;
  padding: 0;
  width: 100%;
  color: @cream;
  overflow: hidden;
  footer {
  }
  a, a:hover, a:visited {
    color: @cream;
    text-decoration: none;
  }
  .cakephp {
    background: url("/img/cake.power.gif") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 13px;
    margin-left: 10px;
    vertical-align: middle;
    width: 98px;
  } 
}

/*
 * ipad Portrait
 */
@media (max-width: 979px) {
  #home {
    .vscroll-hint {
      margin-top: -99px;
    }    
  }
  #features  .carousel-inner {         /* start with one row, overflow-x: hidden */
    max-width: 1170px;
  }
  #call-to-action, #sharing, #thank-you {
    .container {
      padding: 0 10px;
    }
    .container p {
    }
    .btn-large {
        padding: 4px 12px;
        font-size: 16px;
    }
  }
  #how-it-works .carousel-inner {
    figure .wrapH {
    }
  }   
  #call-to-action {
    img.darkroom {
      background-size: 80%;
      right: -29px;
      top: -49px;
    }    
    .span5.join, .span5.donate {
      > p.lead {
        min-height: 145px;  
      }
    }
  }
}
/*
 * smaller than ipad Portrait
 */
@media (max-width: 767px) {
  .featurette {
    .featurette-heading {
      width: 90%;
    }
    .footer {
      width: 100%;
      .container {
        padding: 0 10px;
      }
    }
  }
  
  #home {
   .fw-band.vcenter-body {
      min-height: 590px;
    }
    .about {
      margin-left: 10px;
      margin-right: 10px;
    }  
  }
	#features {
		.carousel-inner {
		}
		li.item {
			padding: 0;
		}
		figure.graphic {
		  font-size: 32px;
			.wrapH {
				height: 80px;
			}
		}
	}
	#see-the-movie {
    iframe {
      width: 90%;
      height: 440px;
    }
  }
  #how-it-works {
    figure.graphic {
      .wrapH {
        height: 200px;
      }
      figcaption .body {
        min-height: 200px;
      }
    }
    .carousel-pager {
      margin-top: 40px;           // desktop.no-touch, TODO: fix variable height
    }
  }
  #call-to-action {
    .container {
      padding: 0 20px;
    }
    img.darkroom {
      background-size: 70%;
      right: -27px;
      top: -49px;
    }   
    .heading {
      margin: 80px  0 40px;
      h1 {
        font-size: 60px;
      }
      .subhead {
        font-size: 18px;
      }
    }
    .container {
      p {
        font-size: 18px;
      }
      .wrapH img {
      }
    }
    .span5.join, .span5.donate {
      p.lead {
        min-height: auto;  
      }
    }
  }
  
  #sharing, #thank-you, #about, #FAQ {
    .heading {
      margin: 60px 0 20px;
      h1 {
        font-size:48px;
      } 
    }
    .container {
      padding: 0 20px;
      p {
        font-size: 18px;
      }
      .wrapH img {
        height: 120px;
      }
    }
  } 
  
}

@media (max-width: 620px){
  #call-to-action {
      form.call-to-action {
      .wrapH {
        display: block;
        margin: 0;
      }
      .wrapH.left {
        text-align: left;
      }
      .wrapH.right {
        text-align: right;
      }
    }
  }
  #sharing .tweet-wrap, #thank-you h1 .tweet-wrap {
    vertical-align: bottom;   // don't know why this switches to bottom
  }
}

/*
 * .navbar.collapsed
 */
@media (max-width: 580px) {
	.featurette {
	  min-height: 600px;
    .fw-band.vcenter-body {
      padding: 10px 0; 
      padding-top: inherit;   /* slideIn .navbar doesn't need this padding */
      min-height: 600px;       /* full-height band */
    } 
  	.featurette-heading {
  	  padding: 10px 0;
  		h1 {
  			font-size: 42px !important;
  		}
  		.subhead {
  			font-size: 14px;
  		}
  	}
    .fw-band.footer {
      font-size: 16px;
    }
  }
  .featurette.body-opaque {
    padding-top: inherit;
    .opaque {
      .fw-band {
        padding-top: inherit; 
      }
    }
  }    
  #home {
    .fw-band.vcenter-body {
      min-height: 608px;
    }  
  	.featurette-heading {
  		margin: 20px auto;
  	}
  	.vscroll-hint {
  	  margin-top: 24px;
  	}
  	.about {
  	  margin-left: 10px;
  	  margin-right: 10px;
  	}
  }
  #how-it-works.carousel { 
    .carousel-pager {
      margin-top: 10px;
    }
  }
	#see-the-movie {
    iframe {
      height: 340px;
      margin-top: 60px;
      width: 90%;
    }
  }
	#call-to-action {
    .container {
      padding: 0 20px;
    }
    img.darkroom {
      background-size: 60%;
      right: -27px;
      top: -46px;
    }    
    .heading {
      margin: 60px  0 40px;
      h1 {
        font-size: 48px;
      }
      .subhead {
        font-size: 18px;
      }
    }
    .container {
      p {
        font-size: 18px;
      }
      .wrapH img {
        height: 160px;
      }
    }
    form.call-to-action {
      .wrapH {
        margin: 10px;
      }
    }
  }
  #sharing, #thank-you, #about, #FAQ {
    .heading {
      margin: 60px 0 20px;
      padding: 10px;
      h1 {
        font-size:36px;
      } 
    }
    .container {
      padding: 0 10px;
      p {
        font-size: 16px;
      }
      .wrapH img {
        height: 120px;
      }
    }    
  }  
}
/*
 * mobile portrait
 */
@media (max-width: 467px) {
	.featurette {
	  min-height: 460px;
	  .fw-band.vcenter-body {
      min-height: 460px;       /* full-height band */
    }
		.container p {
			font-size: 12px;
		}
		.featurette-heading {
			h1 {
				font-size: 32px  !important;
			}
			.subhead {
				font-size: 14px !important;
			}
		}
		figure.graphic {
		}
		.btn-large {
        .rounded-corners(4px); 
        font-size: 14px;
        padding: 4px 12px;
    }	
	}
	.featurette.carousel {
		.fw-band.vcenter-body {
			height: 320px;
		}
		li.item {
			padding: 0;
			// min-width: 240px;
		}
		.carousel-control-btn {
		  font-size: 60px;
		  left:0;
		}
		.carousel-control-btn.right {
        right:0;
        left: auto;
		}
		figure.graphic {
			.wrapH {
			  // float: left;				height: 60px;
			}
			figcaption {
				font-size: 16px !important;
				.body {
					font-size: 14px !important;
				}
			}
		}
	}

/**
 *  for CANCELLING left image right text w/o using float:left
 *  CHANGES TO STACKED LAYOUT
 *    used by #how-it-works
 *    cancel @media 479 
 */
.featurette.carousel .carousel-inner {
    li.item.left-image {      
      text-align: center;
      figure {
        position: relative;
        .wrapH {
          display: block;
          float: none;
          width: auto;
          margin-left: auto;
        }
        figcaption{
          display: inline;
          width: auto;
          vertical-align: middle;
        }
      }
    }
}	
	
	#home {
	  .fw-band.vcenter-body {
      min-height: 520px;
    }
    .featurette-heading {
      margin: 20px auto 0px;
    } 
    .featurette-heading.footer {
      margin: 0 auto;
    }
    .container figure {
      > div {
        height: 80px;
      }
      span.action.left {
        left: -75px;
      }
    }
    .vscroll-hint {
      margin-top: -63px;
    }
  }
  
  #how-it-works {
    figure.graphic {
      .wrapH {
        height: 80px;
      }
      figcaption {
        font-size: 18px;
        .body {
          min-height: 80px;
          font-size: 14px;
        }
      }
    }
  }
  #see-the-movie {
    iframe {
      height: 240px;
      margin-top: 48px;
      width: 90%;
    }
  }
  #call-to-action, #sharing, #thank-you, #about {
    .container {
      padding: 0 10px;
      p {
        font-size: 14px;
      }
      .wrapH img {
        height: 80px;
      }
    }
    .heading {
      margin: 60px  0 20px;
      h1 {
        font-size: 36px;
      }
      .subhead {
        font-size: 14px;
      }
    }
    
  } 
  
  
  #call-to-action {
    .heading {
      margin: 40px  0 20px;
      h1 {
        font-size: 32px;
      }
    }
    form.sign-upxxx {
      input.email {
        line-height: 14px;
        margin-bottom: 8px;
        padding: 4px 12px;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
      
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
      
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      button#join-email-list {
        -webkit-border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
      
        -moz-border-radius-topleft: 0;
        -moz-border-radius-bottomleft: 0;
      
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}



