/**
 * 	Less 
 */
@red: #D01F40;
@orange: #F16122;
@cream: #FDF9D0;
@peach: #E9C1C1;
@darkgrey: #152437;

/*   
 * http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters/ 
 * http://stackoverflow.com/questions/9436776/lesscss-method-with-ie-filter-alpha-opacity-css
 */

.rgba(@hex:#000000, @alpha:0.7) {
		/* Fallback for web browsers that doesn't support RGBa */
		background-color: @hex;
		/* RGBa with alpha */
		background-color: hsla(hue(@hex), saturation(@hex), lightness(@hex), @alpha);
		@ieGradient: argb(rgba(0, 0, 0, @alpha));
		/* For IE 5.5 - 7*/
		filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieGradient} ;, endColorstr=@{ieGradient} )";
		/* For IE 8*/
		-ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieGradient}, endColorstr=@{ieGradient})";
}

.alpha70b {
	.rgba(#000000, 0.7);
}
.alpha70r {    /* same as #DD1260 */   
	.rgba(@red, 0.7);
}
.alpha80w {
	.rgba(#FFFFFF, 0.8);
}
.alpha70cr {
	.rgba(@cream, 0.7);
}
.alpha70ph {
	.rgba(@peach, 0.7);
}

/*
 * ie only for alpha
 */
	
html.ie {
	.alpha70b, .alpha70r, .alpha80w, .alpha70cr, .alpha70ph {
		background: transparent;	/* makes border-radius invisible, wrap?  */
	}
}

.body-text-shadow(@hex=#000000, @alpha:0.7) {
	text-shadow: 1px 2px 2px hsla(hue(@hex), saturation(@hex), lightness(@hex), @alpha);
}

.featurette {
	.container {
		.wrapW {
			margin: 0 auto;
		}
		.featurette-heading {
			.body-text-shadow();
			color: #FFFFFF;
		}
		figure.graphic {
			display: inline-block;
		    font-size: 20px;
		    margin: 0 20px;
		    padding: 10px;
		    vertical-align: middle;
		    width: auto;
		    .wrapH {
		    	img {
		    		max-height: 100%;
		    	}
		    }
		    figcaption {
		    	.body-text-shadow();
		    	.body {
		    		text-shadow: none;
		    	}
		    }	
		}
	}
}
#home {
	.wrapW {
		width: 80%;
	}
	.featurette-heading {
		.body-text-shadow(@orange);
		color: @cream;
	}
	figure.graphic {
		color: @cream;
	    .wrapH {
	   		height: 160px;
	   		img {
				
			}
	    }
		.figcaption {
			
		}
	}
}

#features {
	@figW: 200px;
	.container {
		overflow-x: hidden;
	}
	.wrapW {
		width: (5*(@figW+60)+15);
		text-align: none;
	}
	.featurette-heading {
		.body-text-shadow(#000000);
		color: @red;
	}
	figure.graphic {
		color: #000;
		width: @figW;
		height: 300px;
		.wrapH {
			height: 120px;
			img {
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
			}
		}
		figcaption {
			.body {
				font-size: 14px;
				text-align: left;
			}
		}
	}
}








